@font-face {
    font-family: 'Bold'; 
    src: url('..//Fontes/Poppins-Bold.ttf') format('opentype');
  }

  @font-face {
    font-family: 'Normal'; 
    src: url('../Fontes//Poppins-Regular.ttf') format('opentype'); 
  }



.body-principal{
    background-color: #B3B3B3;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;

    
   
}

.div-row-primeiro-card{
    width: 40%;
}

.row-primeiro-card{
    background-color: #474747;
    height: 180px;
    width: 95%;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.card-primeiro-metricas-mes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.h1-numeros-vendas-mes{
    font-size: 115px;
    color: white;
    font-weight: bold;
    font-family: 'Bold';
    margin-bottom: 0px;
   margin-top: -30px;

}



.h2-numeros-vendas-mes{
    font-size: 22px;
    color: white;
    margin-top: 40px;
    font-family: 'Normal';
    margin-bottom: 0px;
}

.card-meta-mes{
    width: 95%;
    height: 45px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    justify-content: space-between;
    background-color: red;
    margin-top: 10px;
    border-radius: 5px;
}

.card-vendas-dia{
    width: 45%;
    background-color: #474747;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 230px;
    flex-direction: column;
}

.h1-card-vendas-dia{
    color: white;
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin-bottom: 0px;
    font-family: 'Normal';
}

.h2-card-vendas-dia{
    color: white;
    font-size: 50px;
    font-family: 'Bold';
    margin-top: -10px;
    margin-bottom: 0px;
}


.div-dados-vendas{
    width: 95%;
    height: 240px;
    display: flex;
    margin-left: 10px;
    flex-direction: row;
    justify-content: space-between;
}


.card-upgrade{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 5px;
    flex-direction: column;
    height: 100px;
    background-color: #474747;
}

.h1-card-upgrade{
    font-size: 13px;
    color: white;
    font-family: 'Normal';
    margin-bottom: 0px;
}


.h2-card-upgrade{
    margin-top: 0px;
    font-size: 50px;
    font-family: 'Bold';
    color: white;
}


.div-card-upgrade{
    height: 230px;
    margin-top: 10px;
    width: 50%;
}


.row-body-principal{
    display: flex;
    flex-direction: row;
}

.colum-primeiro-card{
    display: flex;
    flex-direction: column;
}


.div-row-principal{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.body-card-vendas-mes{
    width: 20%;
    margin-top: 10px;
    background-color: #474747;
    border-radius: 10px;
    height: 535px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.h1-card-vendas-mes-painel{
    width: 95%;
    font-size: 15px;
    color: white;
    text-align: center;
    font-family: 'Normal';
    margin-bottom: 0px;
    margin-top: 0px;
}

.h2-card-vendas-mes-painel{
    width: 95%;
    font-size: 50px;
    color: white;
    text-align: center;
    font-family: 'Bold';
    margin-top: -10px;
}


.card-vendas-mes-azul{
    background-color: #1966F5;
    width: 90%;
    height: 90px;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.body-grafica-vendas{
    width: 40%;
}

.div-row-principal{
    display: flex;
    justify-content: space-around;
}


.h1-card-meta-mes{
    font-family: 'Normal';
    color: white;
    margin-left: 10px;
    font-size: 18px;
}

.h2-card-meta-mes{
    font-size: 35px;
    margin-right: 10px;
    font-family: 'Bold';
    color: white;
}


.sc-h1-card-vendas{
    color: white;
    font-family: 'Bold';
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.rs-h1-card-vendas{
    color: white;
    font-family: 'Bold';
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 0px;
}


.div-card-grafico-vendas{
    background-color: #474747;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    display: flex;
    width: 95%;
    align-items: center;
    display: flex;
    height: 130px;
  margin-left: 10px;
}


.titulo-tabela-grafico-vendas{
    width: 290px;
    color: white;
    text-align: start;
    font-size: 15px;
    margin-bottom: 10px;
    font-family: 'Bold';

}

.subtitulo-tabela-grafico-vendas{
    width: 90px;
    color: white;
    text-align: start;
   
    font-size: 15px;
    font-family: 'Bold';

}




.h1-header-card-grafico-vendas{
    font-size: 20px;
    color: white;
    font-family: 'Normal';
    margin-left: 5px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}


.h2-header-card-grafico-vendas{
    font-size: 8px;
    color: white;
    margin-top: 0px;
    width: 100%;
    text-align: center;
    margin-left: 5px;
    font-family: 'Normal';
}


.grafico-comercial{
    background-color: #474747;
    width: 95%;
    margin-left: 10px;
    height: 200px;
    padding: 10px 0px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    margin-right: 20px;
    margin-top: 10px;
    align-items: center;
    flex-direction: column;
}



.div-card-grafico-aguardando{
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    display: flex;
    height: 110px;
    margin-left: 10px;
    align-items: center;
}


.card-grafico-aguardando{
    background-color: #474747;
    border-radius: 5px;
    width: 50%;
    height: 110px;
}


.h1-card-grafico-aguardando{
    color: white;
    font-family: 'Normal';
    width: 100%;
    font-size: 17px;
    margin-bottom: 0px;
    text-align: center;
}

.h2-card-grafico-aguardando{
    color: white;
    font-family: 'Normal';
    width: 100%;
    font-size: 60px;
    margin-top: -10px;
    margin-bottom: 0px;
    text-align: center;
}

.row-card-meta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    width: 95%;
    margin-left: 10px;
}


.h1-div-row-card-meta{
    font-size: 16px;
    color: white;
    font-family: 'Normal';
    margin-left: 10px;

}

.h2-div-row-card-meta{
    font-size: 20px;
    color: white;
    font-family: 'Bold';
    margin-right: 10px;
}

.h1-div-row-card-meta-text{
    font-size: 25px;
    color: white;
    font-family: 'Bold';
    text-align: center;
    width: 100%;
}

.div-row-card-meta{
    height: 50px;
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #12B51D;
    border-radius: 5px;
}


.div-row-card-meta-text{
    height: 50px;
    width: 50%;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    background-color: #FA0F0F;
}


.div-para-bater-meta{
    background-color: #474747;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 10px;
    width: 59%;
    margin-top: -70px;
    border-radius: 10px;
    height: 70px;
}


.h1-para-bater-meta{
    color: white;
    font-size: 35px;
    font-family: 'Bold';
}


.div-responsive{
    width:45%;
    background-color: #474747;
    border-radius: 5px;
    margin-right: 20px;
}



.h1-porcentagem-atingida{
    font-size: 16px;
    font-family: 'Normal';
    color: white;
    width: 100%;
    text-align: center;
    margin-bottom: 0px
}