@font-face {
    font-family: 'Bold'; 
    src: url('..//Fontes/Poppins-Bold.ttf') format('opentype');
  }

  @font-face {
    font-family: 'Normal'; 
    src: url('../Fontes//Poppins-Regular.ttf') format('opentype'); 
  }




.row-div-instalacao-manutencao{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    align-items: center;

}


.div-card-dados-principais{
    background-color: #949393;
    border-radius: 10px;
    height: 300px;
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.h1-titulo-card-dados-principais{
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Bold';
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.row-div-card-dados-principais{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 0px;
}


.div-card-dados-principais-dados{
    align-items: center;
    display: flex;
    justify-content: space-around;
 
}


.card-dados-principais-dados{
    width:49%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.h1-card-dados-principais-dados1{
    font-size: 20px;
    font-family: 'Normal';
    color: white;
    margin-bottom: -5px;
    margin-top: 0px;


}



.h1-card-dados-principais-dados{
    font-size: 20px;
    font-family: 'Normal';
    color: white;
    margin-bottom: 20px;


}

.h2-card-dados-principais-dados{
    font-size: 70px;
    margin-top: -20px;
    font-family: 'Bold';
    color: white;
    margin-bottom: 0px;
    
}

.div-card-dados-principais-dados-diaria{
    background-color: #666666;
    border-radius: 10px;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 0px;
}


.h1-div-card-dados-principais-dados-diaria{
    width: 100%;
    text-align: center;
    font-family: 'Normal';
    margin-top: 0px;
    color: white;
margin-bottom:18px;

}


.h2-div-card-dados-principais-dados-diaria{
    width: 100%;
    text-align: center;
    color: white;
    margin-top: -20px;
    margin-bottom: 0px;
    font-size: 100px;
    font-family: 'Bold';

}



.body-div-card-dados-principais-dados{
    width: 49%;
    background-color: #666666;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 200px;

}


.h1-body-div-card-dados-principais{
    width: 100%;
    text-align: center;
    font-family: 'Normal';
    margin-bottom: 0px;
    color: white;
    margin-top: 0px;
}


.div-meta-card-dados-principais{
    background-color: black;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 0px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.h1-meta-card-dados-principais{
    font-size: 20px;
    margin-left: 10px;
    color: white;
    font-family: 'Normal';
}

.h2-meta-card-dados-principais{
    font-size: 25px;
    margin-right: 10px;
    color: white;
    font-family: 'Bold';
}

.row-div-instalacao-grafico{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0px;
}

.div-agenda-operacao{
    width: 60%;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 10px;
    background-color: #666666;
}

.body1-agenda-operacao{
    width: 49%;
    height: 270px;
    justify-content: space-between;
    margin-top: 20px;
    display: flex;

}

.body2-agenda-operacao{
    width: 49%;
    margin-top: 0px;
    height: 270px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.div3-agenda-operacao{
    width: 30%;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    background-color: #666666;
    border-radius: 10px;
}


.div-agenda2-operacao{
    width: 35%;
    background-color: #666666;
    border-radius: 5px;
    height: 270px;
}

.titulo-agenda-operacao{
    width: 100%;
    color: white;
    font-family: 'Normal';
    font-size: 18px;
    text-align: center;
    margin-bottom: 0px;
}

.titulo1-agenda-operacao{
    width: 100%;
    color: white;
    font-family: 'Normal';
    margin-top: 0px;
    font-size: 13px;
    text-align: center;
}


.row-div3-agenda-operacao{
    width: 50%;
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    align-items: center;
    justify-content: center;
}

.titulo-agenda1-operacao{
    margin-left: 10px;
    font-size: 28px;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

.agenda-os-dia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 220px;
}



.h1-tabela-agenda-dia{
    width: 100%;
    text-align: center;
    margin-top:20px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    font-family: 'Bold';
    margin-bottom:0px;
}

.row-titulo-agenda-operacao{
    display: flex;
    align-items: center;
    width: 95%;
    justify-self: center;
    justify-content: space-around;

}

.h1-titulo-agenda-operacao{
    margin-bottom: 0px;
    margin-top: 0px;
    width: 65%;
    font-size: 25px;
    font-family: 'Bold';
    color: white;

}

.h2-titulo-agenda-operacao{
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    width: 20%;
    color: white;
    font-size: 25px;
    font-family: 'Normal';

}