@font-face {
    font-family: 'Bold'; 
    src: url('..//Fontes/Poppins-Bold.ttf') format('opentype');
  }

  @font-face {
    font-family: 'Normal'; 
    src: url('../Fontes//Poppins-Regular.ttf') format('opentype'); 
  }


.body-header-clientes{
    width: 100%;
}

.body-clientes{
    width: 100%;
}



.row-header-clientes{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}


.card-header-clientes1{
        width: 400px;
        background-color: #252423;
        height: 150px;
        margin-top: 10px;
        border-radius: 5px;
        justify-content: center;
        display: flex;
        flex-direction: column;
}


.card-header-clientes2{
    width: 400px;
    background-color: #05A039;
    height: 150px;
    margin-top: 10px;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


.card-header-clientes3{
    width: 400px;
    background-color: #F3AA0C;
    height: 150px;
    margin-top: 10px;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}



.card-header-clientes4{
    width: 400px;
    background-color: #CE0505;
    height: 150px;
    margin-top: 10px;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


.h1-card-header-clientes{
    color: white;
    width: 100%;
    text-align: center;
    font-size: 17px;
    font-family: 'Normal';
    margin-bottom: 0px;
}

.h2-card-header-clientes{
    color: white;
    width: 100%;
    margin-top: -20px;
    font-family: 'Bold';
    margin-bottom: 0px;
    text-align: center;
    font-size: 90px;
}


.row2-header-clientes{
    width: 100%;
    justify-content: space-around;
    display: flex;

}


.div2-header-clientes{
    width: 1450px;

}


.div3-header-clientes{
    width: 480px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-div2-header-clientes{
    width: 400px;
    height: 160px;
    border-radius: 5px;
    background-color: #747474;
}


.card-div2-header-clientes5{
    width: 400px;
    height: 290px;
    border-radius: 5px;
    background-color: #252423;
}


.card-div2-header-clientes3{
    width: 400px;
    height: 160px;
    background-color: #252423;
    border-radius: 5px;
}


.row3-header-clientes{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}


.row4-header-clientes{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    
}


.row5-header-clientes{
    display: flex;
    justify-content: space-around;
    margin-top: 30px
}


.div-header-clientes-bairros{
    width: 400px;
    background-color: #252423;
    margin-top: 20px;
    border-radius: 5px;
    height: 640px;
}



.titulodiv-header-clientes-bairros{
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 10px;
    font-size: 25px;
    margin-bottom: 0px;
    font-family: 'Normal';
}


.titulodiv1-header-clientes-bairros{
    width: 100%;
    text-align: center;
    color: white;
    margin-top: -30px;
    font-size: 14px;
    margin-bottom: 0px;
    font-family: 'Normal';
}